@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  @apply scroll-smooth
  scroll-p-32;
}
body {
  @apply bg-black
  text-slate-300/80 overflow-x-hidden;
  scrollbar-gutter: stable;
  /* background: radial-gradient(#42434E, #000) */
  background: #212146;
  background: radial-gradient(circle at right bottom, #1b1b33 0%, #0d0d18 40%, #07070a );
  
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: anywhere;
  @apply font-semibold
  text-slate-200;
}

hr {
  @apply my-8
  border-t-slate-700;
}

p {
  @apply my-2;
}

article {
  @apply mx-auto mb-6
  leading-7 break-words;

  /* LISTS */

  ul,
  ol {
    @apply mb-4;
  }
  ul > li {
    @apply list-disc;
  }
  ol > li {
    @apply list-decimal;
  }
  li {
    @apply ml-8 my-2
    marker:text-slate-500;
    .checked {
      @apply text-slate-400 line-through;
    }
  }

  /* TYPOGRAPHY */

  strong {
    @apply text-slate-100 font-bold;
  }
  h1 {
    @apply text-5xl
    text-slate-200 
    /* g-gradient-to-t from-[#aaa] to-white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }
  h2 {
    @apply text-2xl 
    mt-12 mb-4 bg-gradient-to-t from-black to-white bg-clip-text;
  }
  h3 {
    @apply text-xl 
    mt-8 mb-2;
  }
  h4 {
    @apply text-lg
    mt-4;
  }
  .toggle {
    &-heading1 {
      @apply mt-12 mb-4;
    }
    &-heading2 {
      @apply mt-8 mb-2;
    }
    &-heading3 {
      @apply mt-4;
    }
  }
  a {
    @apply underline
    underline-offset-[0.2rem]
    text-slate-200;
  }

  blockquote {
    @apply border-l-4
    pl-4
    italic
    my-4
    border-l-slate-600
    text-slate-400;
  }
  table {
    @apply mx-auto my-4;

    th,
    td {
      @apply border-x-0 
      border-slate-800 
      p-2 px-3 
      text-sm
      border-y
      text-left;
    }

    thead,
    tbody {
      tr:first-of-type {
        th,
        td {
          @apply border-t-0;
        }
      }
    }

    tbody {
      tr:last-of-type {
        th,
        td {
          @apply border-b-0;
        }
      }
    }

    thead {
      @apply align-bottom;
    }
  }
}

/* Raw code blocks, higher specifity */

div article {
  pre {
    @apply border
    rounded-lg
    border-slate-800
    bg-slate-950;
  }
  code {
    @apply border-none
    text-sm
    px-1
    rounded-sm
    py-[0.15rem]
    bg-slate-800;
  }
  pre > code {
    @apply px-0
    py-0
    rounded-none
    bg-inherit;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    background-color: unset;
    @apply !m-0 
    leading-[1.2];
  }
  pre[class*="language-"] {
    @apply border-none
    rounded-none
    bg-slate-950;
  }
}

/* BROWSER DEMO */

div.browser {
  @apply text-sm leading-normal;
}

div.browser h1 {
  @apply text-xl py-2;
}
div.browser h2 {
  @apply text-lg;
}

div.browser nav {
  @apply my-2 mt-0 flex gap-x-3 gap-y-2 flex-wrap;
}

div.browser article {
  @apply mt-4 p-4 border border-slate-800 rounded-lg;
}
div.browser article h2 {
  @apply text-xl pt-2 pb-1 my-0;
}


.gradient-spotlight{
  @apply -left-48 -z-10;
  transform: scale(200%);
  background: 
    0% center / 50% 100% no-repeat conic-gradient(from 0.25turn at 70% 50%, #132A57, transparent),
    100% center / 50% 100% no-repeat conic-gradient(from 0.75turn at 30% 50%, transparent, #132A57);
    /* conic-gradient(from 0.75turn at 70% 50%, transparent, #1e1e35); */
  mask: radial-gradient(closest-side, #e66465aa, transparent);
}