@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

:root {
  color-scheme: dark;
}


body{
  background: #000;
  color: #fff;
}

article header{
  margin-bottom: 1.5rem;
}

article ul, article ol {
  margin-bottom: 1rem;
}

article ul > li {
  list-style-type: disc;
  margin-left: 2rem
}

article ol > li {
  list-style-type: decimal;
  margin-left: 2rem
}

article > * {
  max-width: 36rem;
  margin-inline: auto !important;
  @apply text-zinc-300
}

article {
  margin-bottom: 1.5rem;
  @apply leading-7 text-zinc-300
}
article strong{
  @apply text-zinc-100 font-bold
}
/* article h1{
  @apply text-4xl font-semibold text-white
} */
/* article h2{
  @apply text-2xl font-semibold my-6 mt-14 text-white
} */
/* article h3{
  @apply text-lg font-semibold my-4 px-2 
} */
article h1+p, article h2+p, article h3+p {
  @apply py-0
}
article li{
  @apply my-2
}

article blockquote{
  @apply border-l-2 border-l-zinc-400 pl-4 text-lg italic text-zinc-400 my-4
}
article p span{
  /* padding-inline: 0.25rem; */
  /* border-radius: 2px; */
  /* padding-block: 0.15rem; */
}
article code {
  border-radius: 2px;
  padding-block: 0.15rem;
  @apply bg-zinc-400/20 text-sm font-extrabold px-1
}
article pre {
  /* margin: 0 !important; */
  border-radius: 0 !important;
  background-color: #0c0c0c !important;
  @apply border border-zinc-800 rounded-lg
}
article pre > code {
  @apply px-0
}
article div > pre {
  border: 0
}
article pre + pre {
  margin-top: 0 !important;
}
article pre > code, pre {
  background-color:unset !important;
  line-height: 1.2 !important;
}
article pre span {
  padding-inline: unset;
  border-radius: unset;
  padding-block: unset;
  background-color: unset !important;
  letter-spacing: -0.5px;
}
article hr{
  margin-top: 2rem;
  @apply border-t-zinc-700
}

article a {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  @apply text-zinc-400
}

article h3{
  @apply text-zinc-400
}



div.browser, div.browser p{
  @apply text-sm leading-normal
}

div.browser h1 {
  @apply text-xl py-2
}

div.browser nav {
  @apply my-2 mt-0 flex gap-x-3 gap-y-2 flex-wrap
}

div.browser article {
  @apply mt-4 p-4 border border-zinc-800 rounded-lg
}
div.browser article h2{
  @apply text-xl pt-2 pb-1 my-0
}


article pre[class*=language-]{
  margin:0
}